page{
    height: 100%;
    overflow: hidden;
}
.chart{
    width: 750rpx;
    height: 100%;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.record-box{
    flex-grow: 1;
    overflow: hidden;
}
.record{
  height: 100%;
   box-sizing: border-box;
    padding:20rpx;
    display: flex;
    flex-direction: column-reverse;
}

.record-item{
    max-width: 350rpx;
    background-color: lightseagreen;
    color: white;
    border-radius: 5rpx;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 20rpx;
}

.record-line{
    display: flex;
    flex-direction: row;
}

.record-line.self{
    flex-direction: row-reverse;
}
.avatar{
    width: 88rpx;
    height: 88rpx;
    border-radius: 6rpx;
    background:cornflowerblue;
    font-size: 40rpx;
    color: white;
    text-align: center;
    line-height: 88rpx;
}
.word{
    margin-left: 20rpx;
}

.record-line.self .word{
    margin-right: 20rpx;
}
.time{
    color:darkgray;
    font-size: 26rpx;
    margin-bottom: 6rpx;
}

.record-line.self .time{
    text-align: right;
}

.input{
    flex-grow: 0;
    flex-shrink: 0;
    padding: 20rpx;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.textarea{
    flex-grow:0;
    height: 80rpx;
    padding-left: 40rpx;
    padding-right: 40rpx;
    width: 375rpx;
    background-color: #efefef;
    border-radius: 40rpx;
}

.push{
    width: 80rpx;
    height: 66rpx;
    border-radius: 22rpx;
    line-height: 66rpx;
    font-size: 24rpx;
    padding: 0 0;
    background-color: dodgerblue;
    color: white;
}

.push::after{
    border:none;
}